<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.platform.mapper.PetDiaryMapper">
    <!-- 分页查询 -->
    <select id="queryPage"  resultType="com.project.platform.entity.PetDiary">
        SELECT pet_diary.*
        ,user.username AS username
        ,user.avatar_url AS userAvatarUrl
        FROM pet_diary
        LEFT JOIN user ON pet_diary.user_id=user.id
        <include refid="queryConditions"/>
        ORDER BY pet_diary.id DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <!-- 查询总数 -->
    <select id="queryCount"  resultType="int">
        SELECT count(pet_diary.id) FROM pet_diary
        LEFT JOIN user ON pet_diary.user_id=user.id
        <include refid="queryConditions"/>
    </select>

    <!-- 查询条件 -->
    <sql id="queryConditions">
        <where>
            <if test="query.title != null and query.title.trim() != ''">
                AND pet_diary.title LIKE CONCAT('%', #{query.title}, '%')
            </if>
            <if test="query.userId != null">
                AND pet_diary.user_id = #{query.userId}
            </if>
            <if test="query.username != null and query.username.trim() != ''">
                AND user.username LIKE CONCAT('%', #{query.username}, '%')
            </if>
        </where>
    </sql>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.project.platform.entity.PetDiary" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pet_diary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="userId != null">#{userId},</if>
        </trim>


    </insert>

    <!-- 更新 -->
    <update id="updateById" parameterType="com.project.platform.entity.PetDiary">
        UPDATE pet_diary
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <!-- 根据ID列表删除 -->
    <delete id="removeByIds">
        DELETE FROM pet_diary
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
