<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.platform.mapper.ProductMapper">
    <!-- 分页查询 -->
    <select id="queryPage"  resultType="com.project.platform.entity.Product">
        SELECT product.*
        FROM product
        <include refid="queryConditions"/>
        ORDER BY product.id DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <!-- 查询总数 -->
    <select id="queryCount"  resultType="int">
        SELECT count(product.id) FROM product
        <include refid="queryConditions"/>
    </select>

    <!-- 查询条件 -->
    <sql id="queryConditions">
        <where>
            <if test="query.name != null and query.name.trim() != ''">
                AND product.name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="query.status != null">
                AND product.status = #{query.status}
            </if>
        </where>
    </sql>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.project.platform.entity.Product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="mainImg != null">main_img,</if>
            <if test="introduce != null">introduce,</if>
            <if test="status != null">status,</if>
            <if test="price != null">price,</if>
            <if test="stock != null">stock,</if>
            <if test="salesVolume != null">sales_volume,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="mainImg != null">#{mainImg},</if>
            <if test="introduce != null">#{introduce},</if>
            <if test="status != null">#{status},</if>
            <if test="price != null">#{price},</if>
            <if test="stock != null">#{stock},</if>
            <if test="salesVolume != null">#{salesVolume},</if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="updateById" parameterType="com.project.platform.entity.Product">
        UPDATE product
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="mainImg != null">
                main_img = #{mainImg},
            </if>
            <if test="introduce != null">
                introduce = #{introduce},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="stock != null">
                stock = #{stock},
            </if>
            <if test="salesVolume != null">
                sales_volume = #{salesVolume},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <!-- 根据ID列表删除 -->
    <delete id="removeByIds">
        DELETE FROM product
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
